table.table th, table.table td {
	text-align: center;
	vertical-align: middle !important;
}

.info-box.marcado > .info-box-content {
	padding: 22px !important;
}

.box-body {
	min-height: 40px !important;
}

tr.selected {
	background-color: #d9edf7 !important; 
}