<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>Consulta de Inmuebles</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-cube"></i> Inicio</a></li>
		<li>Consulta de marcas</li>
		<li class="active">Consulta de Inmuebles</li>
	</ol>
</section>

<!-- Main content -->
<section class="content"
	data-ng-controller="ConsultaEntidadesController">

	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Seleccione los datos de la consulta:</h3>
				</div>
				<!-- /.box-header -->
				<form class="form-horizontal">
					<div class="box-body">
						<div class="form-group">
							<label for="cpro" class="col-xs-3 control-label">Provincia</label>
							<div class="col-xs-9">
								<select id="provinciaSelect" data-ng-model="provinciaSelect"
									class="form-control select2"
									data-ng-options="provincia.dcProv for provincia in provincias | orderStringBy: 'dcProv'"
									data-ng-change="getMunicipios(provinciaSelect.cpro)">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="cmun" class="col-xs-3 control-label">Municipio</label>
							<div class="col-xs-9">
								<select id="municipioSelect" data-ng-model="municipioSelect"
									class="form-control select2"
									data-ng-options="municipio.dcCmun for municipio in municipios | orderStringBy: 'dcCmun' track by municipio.cmun"
									data-ng-disabled="disMunicipio"
									data-ng-change="getVias(provinciaSelect.cpro,municipioSelect.cmun); getUps(provinciaSelect.cpro,municipioSelect.cmun);">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="cpro" class="col-xs-3 control-label">Vía</label>
							<div class="col-xs-9">
								<select id="viaSelect" data-ng-model="viaSelect"
									class="form-control select2" data-ng-disabled="disVia"
									data-ng-options="via.dcVia for via in vias | orderStringBy: 'dcVia' track by via.nidenCvia">
								</select>
							</div>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="submit" class="btn btn-primary"
							data-ng-click="getAppsMarcasInmueble(provinciaSelect.cpro,municipioSelect.cmun,viaSelect.cvia,viaSelect.clase)">Consultar</button>
					</div>
				</form>
			</div>
			<!-- /.box -->
		</div>
	</div>

	<div class="row" data-ng-show="mostrarTabla">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Aproximaciones Postales</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table datatable id="tablaApps"
						class="table table-bordered table-hover" rows="apps"
						columns="tablaAppsColumns" select="mostrarInmueblesApp">
						<thead>
							<tr>
								<th>Id. App</th>
		                     	<th>UP</th>
								<th>Numero</th>
								<th>Bloque</th>
								<th>Portal</th>
								<th>Cód. Marcado</th>
							</tr>
						</thead>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /box -->
		</div>
	</div>

	<div class="row" data-ng-show="mostrarTablaInmuebles">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Inmuebles</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table datatable id="tablaInmuebles"
						class="table table-bordered table-hover" rows="inmuebles"
						columns="tablaInmueblesColumns">
						<thead>
							<tr>
								<th>Id. Inmueble</th>
								<th>Escalera</th>
								<th>Planta</th>
								<th>Puerta</th>
								<th>Cód. Marcado</th>
							</tr>
						</thead>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /box -->
		</div>
	</div>

</section>
