<header class="main-header">

  <!-- Logo -->
  <a href="#" class="logo">
    <span class="logo-mini"><b>M</b>D</span>
    <span class="logo-lg"><b>MDAGE</b>Depuración</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Mostrar/ocultar menú</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <img src="dist/img/ine.png">
    </div>
  </nav>
</header>